.card {
  padding: 16px;
  border-radius: 18px;
  background-color: #ffffff;
  height: 100%;
  border: none !important;
  box-shadow: none !important;

}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none !important;  

}
.title{
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #171C4B !important;
  margin-bottom: 15px !important;
}
.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #ffeb3b;
  border-radius: 12px;
  padding: 16px;
}
.iconBoxTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #ffeb3b;
  border-radius: 12px;
  padding: 16px;
  font-size: 1rem;
}

.icon {
  font-size: 1rem !important;
  color: #1976d2;
}

.text {
  font-size: 1rem !important;
  color: #070C3F;
}

.stat {
  font-size: 1rem !important;
  font-weight: 600;
  color: #333;
}

.graph {
  flex: 1;
  height: 150px;
  min-width: 250px; /* Garantiza que el gráfico tenga un ancho mínimo */
}
