.card {
  padding: 16px;
  border-radius: 18px;
  background-color: #ffffff;
  height: 100%;
  border: none !important;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none !important;  
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #ffeb3b;
  border-radius: 12px;
  padding: 16px;
}

.icon {
  font-size: 32px;
  color: #1976d2;
}

.text {
  font-size: 14px;
  color: #070C3F;
}

.stat {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.graph {
  flex: 1;
  height: 150px;
  min-width: 250px; /* Garantiza que el gráfico tenga un ancho mínimo */
}
