.card {
  border-radius: 8px !important;
  background-color: #ffffff;
  border: none !important;
  box-shadow: none !important;
}

.icon {
  font-size: 20px !important;
  margin-right: 0px;
  color: #2A4B87;
  transition: color 0.3s ease;
}

.title {
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #171C4B !important;
  margin-bottom: 5px !important;
}

.name {
  font-size: 1re;
  font-weight: 600;
  margin-left: 0;
  color: #2A4B87;
  transition: color 0.3s ease;
}

.active {
  color: #2A4B87;
}

.inactive {
  color: #2A4B87;
}

.delayed {
  color: #2A4B87;
}

.stateIcon {
  font-size: 20px;
  color: #2A4B87;
  margin-left: auto;
  transition: color 0.3s ease;
}

.listItem {
  padding: 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2A4B87;
  transition: color 0.3s ease;
  
}

.listItem .icon, .listItem .name, .listItem .stateIcon {
  color: #2A4B87;
  transition: color 0.3s ease;
}

.listItem:hover, .listItem:hover .icon, .listItem:hover .name, .listItem:hover .stateIcon {
  color: #1572FD;
  cursor: pointer;
}

.listItem:nth-child(1),
.listItem:nth-child(2) {
  border-bottom: 1px solid #ddd;
}

.listItem:nth-child(3) {
  border-bottom: none;
}
