.card {

  border-radius: 8px !important; /* Bordes más redondeados */
  background-color: #ffffff; /* Fondo blanco */
 
  border: none !important; /* Añadimos un borde claro para separar */
  box-shadow: none !important; /* Eliminamos la sombra */
}
.icon {
  font-size: 24px;
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  color: #333; /* Color oscuro por defecto */
}

.active {
  color: #333; /* Oscuro para ítems activos */
}

.inactive {
  color: #d9534f; /* Rojo discreto para inactivos */
}

.delayed {
  color: #ffc107; /* Amarillo para retrasos */
}

.stateIcon {
  font-size: 20px;
  color: inherit; /* Hereda el color del estado */
  margin-left: auto; /* Alinea el ícono de estado a la derecha */
}
