.card {
  padding: 16px;
  border-radius: 12px;
  background-color: #FFE5BF !important; /* Orange background */
  border: none;
  box-shadow: none !important;
  height: 100%;
}

.container {
  display: flex;
  gap: 16px;
  background-color: #FFE5BF !important; /* Orange background */
  height: 100%;
  align-items: start;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1; /* Ensures equal column width */
  height: 100%;
}

.statBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  background-color: #FFE5BF !important; /* Orange background */
  border-radius: 8px;
  box-shadow: none;
  height: 100%;
}

.titleRow {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 8px; /* Spacing between icon and title */
  margin-bottom: 20px !important;
}

.icon {
  color: #CC9A0F; /* Icon color */
  font-size: 20px !important;
}

.title {
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #CC9A0F;
}

.valueRow {
  font-size: 1rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align text */
}

.label {
  font-size: 1rem !important;
  color: #000000;
  font-weight: 500 !important;
}

.value {
  font-size: 1rem !important;
  color: #000000;
  font-weight: 500 !important;
}

/* Divider line */
.divider {
  width: 1.5px;
  background-color: #CC9A0F; /* Divider color */
  height: 100%; /* Full height of container */
}
