.card {
 
  border-radius: 8px !important; /* Bordes más redondeados */
  background-color: #ffffff; /* Fondo blanco */
  padding-top: 10px;
  padding-bottom: 25px;
  border: none !important; /* Añadimos un borde claro para separar */
  box-shadow: none !important; /* Eliminamos la sombra */
}
  
  .sensorGroup {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaciado entre elementos */
    border-radius: 8px;
    padding: 16px;
  }
  