/* RightColumn.module.css
   Stylesheet for the RightColumn component. */

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 12px;
  box-shadow: none !important;
  height: 100%;
}

.waterHeat {
  background-color: #f9e5e7 !important;
}

.valves {
  background-color: #dae6f0 !important;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.icon {
  font-size: 20px !important;
}

.redIcon {
  color: #9b1017;
}

.blueIcon {
  color: #10279b;
}

.title {
  font-size: 16px;
  font-weight: bold !important;
}

.redText {
  color: #9b1017;
  font-size: 1rem !important;
  font-weight: bold;
}

.blueText {
  color: #10279b;
}

.temperature {
  font-size: 2rem !important;
  font-weight: bold !important;
  color: #9b1017;
  margin-bottom: 8px;
}

.statsRowOne {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
}

.statsRow {
  display: flex;
  gap: 16px;
  align-items: center;
}

.linksRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.manualLink {
  font-size: 14px;
  color: #333333;
}

.settingsLink {
  font-size: 14px;
  color: #123512 !important;
  font-weight: 500 !important;
  text-decoration: underline !important;
}

.values {
  width: 70%;
  justify-content: space-around;
  display: flex;
  flex-direction: row !important;
}

.valueBox {
  display: inline-block;
  background-color: white;
  padding: 1px 6px;
  border-radius: 4px;
  margin-left: 4px;
  font-weight: bold;
  box-shadow: none;
}
