.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .card {
    padding: 5px;
    border-radius: 12px;
    box-shadow: none !important;
    height: 100%;
  }
  
  .waterHeat {
    background-color: #F9E5E7 !important; /* Fondo rosa */
  }
  
  .valves {
    background-color: #DAE6F0 !important; /* Fondo azul */
    
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .redIcon {
    color: #d32f2f; /* Rojo para Water Heat */
  }
  
  .blueIcon {
    color: #1976d2; /* Azul para Valves */
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .redText {
    color: #d32f2f; /* Rojo para Water Heat */
  }
  
  .blueText {
    color: #1976d2; /* Azul para Valves */
  }
  
  .temperature {
    font-size: 32px;
    font-weight: bold;
    color: #d32f2f; /* Rojo */
    margin-bottom: 8px;
  }
  
  .statsRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .label {
    font-size: 14px;
    color: #333333;
  }
  
  .graphLabel {
    font-size: 14px;
    font-weight: bold;
    color: #1976d2; /* Azul */
    text-align: center;
    margin-bottom: 8px;
  }
  
  .graphPlaceholder {
    height: 60px;
    background-color: #bbdefb; /* Azul claro */
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .linksRow {
    display: flex;
    justify-content: space-between;
  }
  
  .manualLink {
    font-size: 14px;
    color: #333333;
  }
  
  .settingsLink {
    font-size: 14px;
    color: #388e3c; /* Verde */
    font-weight: bold;
  }
  