/* QuickSettings.module.css
   Stylesheet for the QuickSettings component. */

   .card {
    padding: 0;
    border-radius: 8px !important;
    background-color: #ffffff;
    margin-top: 10px;
    border: none !important;
    box-shadow: none !important;
  }
  
  .title {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #171C4B !important;
    margin-bottom: 5px !important;
  }
  
  .switchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .linkText {
    color: #1976d2;
    font-weight: bold;
    text-decoration: none;
  }
  
  .linkText:hover {
    text-decoration: underline;
  }
  
  .arrowIcon {
    font-size: 38px;
    color: #1976d2;
    font-weight: bold;
    margin-right: 10px;
  }
  