.container {
    display: flex;
    flex-direction: column;
    background-color: #DAFFEA; /* Fondo verde */
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    height: 100%;
    justify-content: space-around;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftAligned {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .icon {
    font-size: 20px !important;
    color: #138248; /* Verde oscuro */
  }
  
  .title {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #138248;
  }
  
  .label {
    font-size: 1rem !important;
    color: #000000;
  }
  
  .value {
    font-size: 1rem !important;
    font-weight: bold;
    color: #000000;
  }
  
  .link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .divider {
    height: 1px;
    background-color: #a3e4d7; 
    margin: 8px 0;
  }
  
  .switch {
    margin-left: auto;
  }
  